 .Header{
        display: flex;
        justify-content: space-around;
         padding: 1rem 2rem;
        background-color: whitesmoke;
        position: sticky;
         top: 0;
        z-index: 1000;
        span{
            cursor: pointer;
        }

        .menuheader{

            display: flex;
            gap: 2rem;
             flex-wrap: wrap;
        }
        .user{
            display: flex;
            gap: 2rem;
        }

    }

    .p-overlaypanel{
        span{
            cursor: pointer;
        }
    }

    .checkoutcard{
       box-shadow: 8px 2px 15px -6px rgba(0,0,0,0.95); 
       background-color: white;
       border: 1px solid rgb(206, 205, 205);
       border-radius: .5rem;
    }